#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logout-btn {
  align-self: flex-end; /* Align the button to the right */
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem; /* Add margin to ensure it doesn't stick to the top */
}

.logout-btn:hover {
  background-color: #4fa3d1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
